<form [formGroup]="signUpForm">
  <div *ngIf="signUpPageNum === 1" class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-4 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-wwtitle text-center mb-5 fw-light fs-5">Sign Up</h5>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" formControlName="email" id="loginEmailInput"
                placeholder="name@example.com">
              <label for="loginEmailInput">Email address</label>
            </div>
            <div class="alert show alert-danger fade mt-2" *ngIf="formEmail!.invalid && (formEmail!.dirty || formEmail!.touched)">
              Email is Not in Correct Format
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="userName" id="displayNameInput"
                placeholder="Display Name">
              <label for="displayNameInput">Display Name</label>
            </div>
            <div class="alert show alert-danger fade mt-2" *ngIf="formUserName!.invalid && (formUserName!.dirty || formUserName!.touched)">
              Username must be 5-20 alphanumeric characters
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" formControlName="password" id="loadingPasswordInput"
                placeholder="Password">
              <label for="loadingPasswordInput">Password</label>
            </div>
            <div class="alert show alert-danger fade mt-2" *ngIf="formPassword!.invalid && (formPassword!.dirty || formPassword!.touched)">
              Password must be minimum 8 and maximum 20 characters, at least one uppercase letter, one lowercase letter, one number and one special character
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" formControlName="passwordConfirmation"
                id="passwordConfirmationInput" placeholder="Password">
              <label for="loadingPasswordInput">Password Confirmation</label>
            </div>
            <div class="alert show alert-danger fade mt-2" *ngIf="formPasswordConfirmation!.invalid && (formPasswordConfirmation!.dirty || formPasswordConfirmation!.touched)">
              Passwords do not match
            </div>
            <div class="d-grid">
              <button [disabled]="!validateFirstForm()" class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"
                (click)="changeSignUpPage()">Continue</button>
            </div>
            <div class="d-flex mt-4 justify-content-center flex-column align-items-center">
              <p>Already have an account</p>
              <a class="text-uppercase fw-bold" [routerLink]="['/login']">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="signUpPageNum === 2">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-4 my-5">
          <div class="container mt-3">
            <button class='btn btn-primary pull-right' (click)="goBackSignUpPage()">Back</button>
          </div>
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-wwtitle text-center mb-4 fw-light fs-5">Tell Us More About Yourself</h5>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="firstName" id="firstNameInput" placeholder="name">
              <label for="firstNameInput">First Name</label>
            </div>
            <div class="alert show alert-danger fade mt-2" *ngIf="formFirstName!.invalid && (formFirstName!.dirty || formFirstName!.touched)">
              First name is not in correct format
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="lastName" id="lastNameInput" placeholder="lastname">
              <label for="lastNameInput">Last Name</label>
            </div>
            <div class="alert show alert-danger fade mt-2" *ngIf="formLastName!.invalid && (formLastName!.dirty || formLastName!.touched)">
              Last name is not in correct format
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="age" id="ageInput" placeholder="age">
              <label for="ageInput">Age</label>
            </div>
            <div class="alert show alert-danger fade mt-2" *ngIf="formAge!.invalid && (formAge!.dirty || formAge!.touched)">
              Age range is 1 to 120
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="weight" id="weightInput" placeholder="weight">
              <label for="weightInput">Weight(lbs)</label>
            </div>
            <div class="alert show alert-danger fade mt-2" *ngIf="formWeight!.invalid && (formWeight!.dirty || formWeight!.touched)">
              Weight range can be 10 lbs to 1000 lbs
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="heightInput"  formControlName="height" placeholder="height">
              <label for="heightInput">Height(in)</label>
            </div>
            <div class="alert show alert-danger fade mt-2" *ngIf="formHeight!.invalid && (formHeight!.dirty || formHeight!.touched)">
              Height range can be 48 to 96 inches
            </div>
            <div class="d-grid">
              <button [disabled]="!signUpForm.valid" class="btn btn-primary btn-login  text-uppercase fw-bold" type="submit" (click)="createAccount()">Create Account</button>
            </div>
            <div class="d-flex mt-4 justify-content-center flex-column align-items-center">
              <p>Already have an account</p>
              <a class="text-uppercase fw-bold" [routerLink]="['/login']">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>