<div class="row-4 card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3 d-flex flex-row align-items-center">
        <h4 class="my-0 fw-normal">{{workoutName}}</h4>
        <div class="media text-muted ms-auto d-flex align-items-center">
            <img 
                alt="32x32" class="rounded" style="width: 32px; height: 32px;"
                src={{createdByPhotoUrl}}
                data-holder-rendered="true">
            <p class="media-body mb-0 small lh-125 d-none d-md-block" style="margin-left: 10px;">
                <strong class="d-block text-black">@{{createdByUsername}}</strong>
            </p>
        </div>
    </div>
    <div class="card-body">
        <div>
            <h1 class="card-title pricing-card-title">{{exerciseCount}} <small class="text-muted fw-light">Exersices</small></h1>
        </div>
        <p>{{workoutDescription}}</p>
        <button type="button" class="btn btn-lg btn-primary">View Workout</button>
    </div>
</div>