<app-navbar></app-navbar>
<app-side-nav-bar></app-side-nav-bar>
<main class="pageMainContainer">
    <div class="p-4 container-xl">
        <div class="image d-flex flex-column justify-content-center align-items-center card mb-4">
            <img class="rounded-circle mt-4"
                src={{profile?.avatar}}
                height="200" width="200">
            <h2 class="mt-2">@{{profile?.userName}}</h2>
            <div class="text w-75 p-3">
                <span>
                    {{profile?.bio}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-left">Created Workouts</h2>
                <app-workout-preview
                    *ngFor="let workout of createdWorkouts"
                    [workoutName]="workout.workoutName" [workoutDescription]="workout.workoutDescription"
                    [Id]="workout.id" [createdByUsername]="workout.createdByUsername"
                    [createdByPhotoUrl]="workout.createdByPhotoUrl" [exerciseCount]="workout.exercises.length" [userLiked]="workout.userLiked"
                    [isPublic]="workout.isPublic">
                </app-workout-preview>
                <div *ngIf="isUsersProfile && createdWorkouts.length === 0" class="col-12 alert alert-info" role="alert">
                    <h6>You don't have any workouts created. Click the button below to create one.</h6>
                    <button class="btn btn-primary" [routerLink]="['/workouts/create']">Create Workout</button>
                </div>
                <div *ngIf="!isUsersProfile && createdWorkouts.length === 0" class="col-12 alert alert-info" role="alert">
                    <h6>This user doesn't have any workouts created</h6>
                </div>
            </div>
        </div>
    </div>
</main>
<app-bottom-navbar></app-bottom-navbar>