<app-navbar></app-navbar>
<app-side-nav-bar></app-side-nav-bar>
<main class="pageMainContainer">
    <div class="p-4 container-xl">
        <div class="image d-flex flex-column justify-content-center align-items-center card mb-4">
            <img class="rounded-circle mt-4"
                src={{profileImg}}
                height="200" width="200">
            <h2 class="mt-2">@{{profileUsername}}</h2>
            <div class="text w-75 p-3">
                <span>
                    {{profileBio}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-left">Created Workouts</h2>
                <app-workout-preview></app-workout-preview>
            </div>
        </div>
    </div>
</main>
<app-bottom-navbar></app-bottom-navbar>