<!--Create Exercise Modal-->
<ng-template #content let-modal>
  <app-create-exercise-modal></app-create-exercise-modal>
</ng-template>
<!-- Start of Page -->
<app-navbar></app-navbar>
<app-side-nav-bar></app-side-nav-bar>
<main class="pageMainContainer">
  <div class="container">
    <div class="row flex-md-row flex-sm-column">
      <div class="col-md-6 col-12">
        <h1 class="mt-3 mb-3 text-center">Exercises You Created</h1>
        <button type="button" class="btn btn-lg btn-primary mt-2 mb-4" (click)="open(content)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
          </svg>
          Create
        </button>
        <app-exercise-preview
          *ngFor="let exercise of exercisesUserCreated | slice: (userCreatedPageNum-1) * userItemsOnPage : userCreatedPageNum * userItemsOnPage"
          [exerciseName]="exercise.name" [exerciseDescription]="exercise.description" [exerciseId]="exercise.id"
          [exerciseCreatedByUsername]="exercise.createdByUsername"
          [exerciseCreatedByPhotoUrl]="exercise.createdByPhotoUrl">
        </app-exercise-preview>
        <div class="col-12 d-flex justify-content-center">
          <ngb-pagination [(page)]="userCreatedPageNum" [pageSize]="userItemsOnPage"
            [collectionSize]="exercisesUserCreated.length" size="md" [maxSize]="5"
            [rotate]="true">
          </ngb-pagination>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="row">
          <div class="col-12 flex-nowrap">
            <h1 class="mt-3 mb-3 text-center">Top Exercise Creators</h1>
            <div class="row d-flex flex-wrap">
              <app-top-creator-profile class="col-6 flex-fill"
                *ngFor="let profile of topExerciseCreatorProfiles; let i = index" [userName]="profile.userName"
                [avatar]="profile.avatar">
              </app-top-creator-profile>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1 class="mt-3 mb-3 text-center">Recently Created Exercises</h1>
            <app-exercise-preview
              *ngFor="let exercise of exercisesRecent | slice: (recentlyCreatedPageNum-1) * recentlyCreatedItemOnPage : recentlyCreatedPageNum * recentlyCreatedItemOnPage"
              [exerciseName]="exercise.name" [exerciseDescription]="exercise.description" [exerciseId]="exercise.id"
              [exerciseCreatedByUsername]="exercise.createdByUsername"
              [exerciseCreatedByPhotoUrl]="exercise.createdByPhotoUrl">
            </app-exercise-preview>
            <div class="col-12 d-flex justify-content-center">
              <ngb-pagination [(page)]="recentlyCreatedPageNum" [pageSize]="recentlyCreatedItemOnPage" [collectionSize]="10" size="md">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-bottom-navbar></app-bottom-navbar>