<!--Created Exercise Modal-->
<ng-template #createdWorkoutModal let-modal>
    <app-create-workout-modal></app-create-workout-modal>
</ng-template>
<!--Created Exercise Modal-->
<app-navbar></app-navbar>
<app-side-nav-bar></app-side-nav-bar>
<main class="pageMainContainer">
    <div class="container">
        <div class="row flex-md-row flex-sm-column">
            <div class="col-md-6 col-12">
                <h1 class="mt-3 mb-3 text-center">Workouts You Created</h1>
                <button type="button" class="btn btn-lg btn-primary mt-2 mb-4" (click)="open(createdWorkoutModal)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                    </svg>
                    Create
                </button>
                <app-workout-preview
                    *ngFor="let workout of createdWorkouts | slice: (userCreatedPageNum-1) * userItemsOnPage : userCreatedPageNum * userItemsOnPage"
                    [workoutName]="workout.workoutName" [workoutDescription]="workout.workoutDescription"
                    [Id]="workout.id" [createdByUsername]="workout.createdByUsername"
                    [createdByPhotoUrl]="workout.createdByPhotoUrl" [exerciseCount]="workout.exercises.length">
                </app-workout-preview>
                <div class="col-12 d-flex justify-content-center">
                    <ngb-pagination [(page)]="userCreatedPageNum" [pageSize]="userItemsOnPage"
                        [collectionSize]="createdWorkouts.length" size="md" [maxSize]="5" [rotate]="true">
                    </ngb-pagination>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-12 flex-nowrap">
                        <h1 class="mt-3 mb-3 text-center">Most Liked Exercises</h1>
                        <div class="row d-flex flex-wrap">
                            <app-workout-preview></app-workout-preview>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="mt-3 mb-3 text-center">Recently Created Exercises</h1>
                        <div class="col-12 d-flex justify-content-center">
                        </div>
                        <app-workout-preview></app-workout-preview>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-bottom-navbar></app-bottom-navbar>