<app-navbar></app-navbar>
<app-side-nav-bar></app-side-nav-bar>
<main class="pageMainContainer">
    <div class="container-lg p-3">
        <div class="row flex-md-row flex-sm-column">
            <div class="col-md-6">
                <h2>Weight Log</h2>
                <div class="col card p-3 mb-3" style="display: block;">
                    <canvas baseChart width="400" height="400" [type]="'line'" [data]="lineChartData"
                        [options]="lineChartOptions" [legend]="lineChartLegend">
                    </canvas>
                </div>
                <ngb-accordion #acc="ngbAccordion">
                    <ngb-panel title="Add Weight Log">
                        <ng-template ngbPanelContent>
                            <button>Add log</button>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
                <div class="col mt-3" style="max-height: 425px; height: 425px;">
                    <h2>Week Workout Plan</h2>
                    <div class="card text-black rounded-3 p-3">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                                Monday
                                <p class="m-0 bg-primary text-white p-1 rounded-3">4 Workouts</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                                Tuesday
                                <p class="m-0 bg-primary text-white p-1 rounded-3">4 Workouts</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                                Wendesday
                                <p class="m-0 bg-primary text-white p-1 rounded-3 ">4 Workouts</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                                Thursday
                                <p class="m-0 bg-primary text-white p-1 rounded-3">4 Workouts</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                                Friday
                                <p class="m-0 bg-primary text-white p-1 rounded-3">4 Workouts</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                                Saturday
                                <p class="m-0 bg-primary text-white p-1 rounded-3">4 Workouts</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                                Sunday
                                <p class="m-0 bg-primary text-white p-1 rounded-3">4 Workouts</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-12" style="max-height: 425px; height: 425px;">
                    <h2>Today's Workouts</h2>
                    <app-workout-preview></app-workout-preview>
                    <app-workout-preview></app-workout-preview>
                    <app-workout-preview></app-workout-preview>
                </div>
            </div>
        </div>
    </div>
</main>
<app-bottom-navbar></app-bottom-navbar>