<app-navbar></app-navbar>
<app-side-nav-bar></app-side-nav-bar>
<main class="pageMainContainer">
    <div class="container">
        <div class="row">
           <app-user-view-profile class="col-md-3"></app-user-view-profile> 
           <app-user-view-profile class="col-md-3"></app-user-view-profile> 
           <app-user-view-profile class="col-md-3"></app-user-view-profile> 
           <app-user-view-profile class="col-md-3"></app-user-view-profile> 
           <app-user-view-profile class="col-md-3"></app-user-view-profile> 
           <app-user-view-profile class="col-md-3"></app-user-view-profile> 
           <app-user-view-profile class="col-md-3"></app-user-view-profile> 
           <app-user-view-profile class="col-md-3"></app-user-view-profile> 
           <app-user-view-profile class="col-md-3"></app-user-view-profile> 
        </div>
      </div>
</main>
<app-bottom-navbar></app-bottom-navbar>