<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Logout</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to logout?</p>
	</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-login fw-bold" (click)="logout()">Yes</button>
		<button type="button" class="btn btn-primary btn-login fw-bold" (click)="modal.close('Close click')">No</button>
	</div>
</ng-template>
<header class="py-3 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <a href="/"
      class="d-flex align-items-center col-lg-4 mb-lg-0 link-dark text-decoration-none dropdown-toggled-flex align-items-center col-lg-4 mb-lg-0 link-dark text-decoration-none">
      <img class="bi me-2" src="../../../assets/Svg/Aromix.svg" width="50" height="40">
      <span class="fs-4 fw-bold">Aromix</span>
    </a>
    <div class="d-flex align-items-center">
      <form class="w-100 me-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
      <div ngbDropdown class="d-inline-block">
        <img src={{userAvatarUrl}} alt="mdo" width="32" height="32"
          class="rounded-circle" id="dropdownBasic2" ngbDropdownToggle>
        <div class="mt-2" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>{{username}}</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>Settings</button>
          <button ngbDropdownItem [routerLink]="['/profile', username]">Profile</button>
          <div class="dropdown-divider"></div>
          <button type="button" (click)="initiateLogoutModal()" ngbDropdownItem>Logout</button>
        </div>
      </div>
    </div>
  </div>
</header>