<!--Delete Exercise Modal-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Delete Exercise</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this <b>Exercise</b>? This exercise will be deleted from all workouts that contain it.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteExercise()">Delete</button>
        <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
</ng-template>
<!--Delete Exercise Modal-->
<!--Copy Exercise Modal-->
<ng-template #copyExerciseModal let-modal>
    <app-create-exercise-modal [optionalExercise]="exercise"></app-create-exercise-modal>
</ng-template>
<app-navbar></app-navbar>
<app-side-nav-bar></app-side-nav-bar>
<main class="pageMainContainer">
    <div class="d-flex justify-content-center mt-4 container-lg">
        <div class="row-4 card mb-4 col-10 rounded-3 shadow-sm">
            <div class="card-header py-3 d-flex flex-row align-items-center">
                <h1 class="my-0 fw-normal text-truncate">{{exercise?.name}}</h1>
                <div class="media text-muted ms-auto d-flex align-items-center">
                    <img alt="32x32" data-holder-rendered="true" class="rounded" style="width: 32px; height: 32px;" src={{exercise?.createdByPhotoUrl}}>
                    <p class="media-body mb-0 small lh-125 d-none d-md-block" style="margin-left: 10px;">
                        <strong class="d-block text-black text-black">{{exercise?.createdByUsername}}</strong>
                    </p>
                </div>
            </div>
            <div class="mt-4">
                <h2 class="ms-3">Description</h2>
                <p class="ms-3">{{exercise?.description}}</p>
                <hr class="hr" />
                <h2 class="ms-3">Sets</h2>
                <div class="ms-3 text-bg-primary rounded d-flex align-items-center justify-content-center"
                    style="width: 55px; height: 55px;">
                    <h3 class="m-0">{{exercise?.sets}}</h3>
                </div>
                <hr class="hr" />
                <h2 class="ms-3">Reps</h2>
                <div class="ms-3 text-bg-primary rounded d-flex align-items-center justify-content-center"
                    style="width: 55px; height: 55px;">
                    <h3 class="m-0">{{exercise?.reps}}</h3>
                </div>
                <hr class="hr" />
            </div>
            <div>
                <button  class="btn btn-danger btn-small m-2" [disabled]="!isUsersExercise()" (click)="open(content)">Delete</button>
                <button class="btn btn-secondary btn-small" (click)="open(copyExerciseModal)">Make a Copy</button>
            </div>
        </div>
    </div>
</main>
<app-bottom-navbar></app-bottom-navbar>